<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>FarBox Editor</title>
    <link rel="stylesheet" href="/template/css/landing.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
</head>
<body>


<div id="content">

    <div id="slogan">
        Simple is Everything.
        <br />
        <small>last updated: 2013-3-6</small>
    </div>


    <div class="buttons">
        <a href="http://www.farbox.com" target="_blank">Goto FarBox</a>
        <a href="/template" target="_blank">Clone Template</a>
    </div>

</div>


</body>
</html>